* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colB1: #00abe4;
  --colB2: #00d2ff;
  --colB3: #2edaff;
  --colB4: #50e0ff;
  --colB5: #73e6ff;
  --colB6: #9bedff;
  --colW1: #f4f9fd;
  --colW2: #e9f1fa;
  --colW3: #ffffff;
  --colG1: #005D5D;
  --colG2: #7654F6;
  --colG3: #304074;


}
.yourAnswer{
  background-color: var(--colB1) !important;
  color: var(--colW2);
}
.selectedQuestion{
  background-color: var(--colG1) !important;
  color: var(--colW2);

}

.text {
  color: var(--colB5);
}
.navbarAnimation {
  animation: slider 0.5s ease-in-out;
}
@keyframes slider {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200px);
  }
}
.navbarAnimationOut {
  animation: sliderOut 0.5s ease-in-out;
  top: 0;
}
@keyframes sliderOut {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
.top {
  top: -120px;
}
.gradient1 {
  background-image: linear-gradient(
    to top right,
    var(--colB6),
    #beedf7,
    var(--colB6)
  );
}
.gradient2 {
  background-image: linear-gradient(
    to bottom right,
    var(--colB6),
    #beedf7,
    var(--colB6)
  );
}

.testShadow{
  text-shadow: #00d2ff8a 0px 5px 20px ;
}
.img { 
  -webkit-filter: drop-shadow(5px 5px 15px #3040749f);
  filter:         drop-shadow(5px 5px 15px #3040749f); 
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.inputMainField {
  animation: InputAnm 0.3s ease-in-out;
}
@keyframes InputAnm {
  0% {
    display: none !important;
  }

  100% {
    display: flex !important;
  }
}
.EditInput:focus {
  outline: none;
}
.EditInput {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  padding: 4px 10px;
}
.EditRed {
  border: 1px solid red;
}
.EditRed:focus {
  border: 1px solid red;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.3);
}
.EditBlue {
  border: 1px solid #b1b1b1 !important;
}
.EditBlue:focus {
  border: 1px solid #1890ff !important;
  box-shadow: 0 0 5px rgba(7, 62, 114, 0.302);
}
.EditBlue:hover {
  border: 1px solid #1890ff !important;
}
.select{
  background-color: var(--colB5) !important;
}
